# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment Variables (IMPORTANT: KEEPS YOUR SECRETS SAFE)
.env
/server/.env

# Production builds
/build
/client/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store